# Godot
.godot/
*.tmp
*.import

# Claude Code
.claude/

# .NET build output
bin/
obj/
*.user
.vs/

# Export builds
builds/
export/

# OS
.DS_Store
Thumbs.db

*.png
*.jpg
*.jpeg
*.bmp
*.uid
*.ps1
*-cwd
Data/maps_backup1.json
NextPolish
